# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.class

# VS Code
.vscode/
